<H1 class="content">{{content}}</H1>
<table [style.width.px]="tableWidth" *ngIf="products&&products.length" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ProductName</th>
      <th scope="col">ProductCode</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Rating</th>
      <th scope="col">Image</th>  
    </tr>
  </thead>
  <tbody *ngFor="let product of products">
    <tr>
      <th scope="row">{{product.productId}}</th>
      <td>{{product.productName | uppercase}}</td>
      <td>{{product.productCode}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price | currency:'USD':true:'1.2-2' }}</td>
      <td><app-star (ratingClicked)="onRatingClicked($event)" [rating]="product.starRating"></app-star></td>
      <td><div> </div><img  [src]='product.imageUrl'/></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" type="button" 
  (blur)="readMore()">Read More
</button>
